<!DOCTYPE html>
<!-- ////////////////////// Comentarios ////////////// -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="body_background">

    <!-- ///////////////////////////////////////// HEADER //////////////////////////////////////////// -->

    <header class="header">
        <div class="nomSitio">
            <a href="/landing/index">
                <h1 class="logoSitio">FLOWERSITAS</h1>
            </a>
        </div>
        <nav class="container">
            <ul class="navLista">
                <li class="navItem" id="inicio"><a href="/auth/login">Acceder</a></li>
            </ul>
        </nav>

    </header>



    <div class="about">
        <h1 class="about_tittle">Sobre Nosotros</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod quis natus facilis fuga, sint iste suscipit libero minus, eveniet totam omnis praesentium pariatur voluptas? Consequuntur doloremque aliquam atque. Dignissimos, quos voluptates! Quam
            eum doloremque itaque, molestiae fugiat sit alias sunt numquam neque <br>officia, repellendus eos quasi quos! Expedita, est eligendi!
        </p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod quis natus facilis fuga, sint iste suscipit libero minus, eveniet totam omnis praesentium pariatur voluptas? Consequuntur doloremque aliquam atque. Dignissimos, quos voluptates! Quam
            eum doloremque itaque, molestiae fugiat sit alias sunt numquam neque <br>officia, repellendus eos quasi quos! Expedita, est eligendi!
        </p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod quis natus facilis fuga, sint iste suscipit libero minus, eveniet totam omnis praesentium pariatur voluptas? Consequuntur doloremque aliquam atque. Dignissimos, quos voluptates! Quam
            eum doloremque itaque, molestiae fugiat sit alias sunt numquam neque <br>officia, repellendus eos quasi quos! Expedita, est eligendi!
        </p>
    </div>

    <!-- ////////////////////////////////////////////// FOOTER //////////////////////////////////////////  -->

    <footer class="footer">
        <a class="linkF" href="#inicio">
            <h2 class="footer-title">FLOWERSITAS</h2>
        </a>
        <address class="footer-address">
        Calle Falsa 123, Bogotá, Colombia
    </address>
        <nav class="footer-links">
            Políticas de Privacidad | Términos y Condiciones
        </nav>

        <!-- /////////////////////////////////////// ICONOS REDES SOCIALES ///////////////////////////////////  -->

        <div class="social-buttons">
            <ul class="social-buttons-list">
                <li>
                    <a class="facebook" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter-x" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="./home.java"></script>
</body>

</html>